table {
    width: 98%;
    border-collapse: collapse;
    margin-left: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.actions {
    white-space: nowrap;
}

.buttons-container {
    display: flex;
}

.buttons-container .btn {
    margin-right: 5px;
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}

.buttons-container .btn:hover {
    background-color: #286090;
}

.buttons-container button[type="submit"] {
    background-color: #dc3545;
}

.buttons-container button[type="submit"]:hover {
    background-color: #c82333;
}
